.titulo {
    margin: 0px;
    align-self: normal;
    background-color: rgb(1, 88, 45);
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
}

.condicional {

    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    background-color: rgb(4, 73, 15);
    animation: name duration timing-function delay iteration-count direction fill-mode;
}



.vectores {
    background-color: darkslategrey;
    


}